<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- 声明 SYSTEM_ALERT_WINDOW 权限，用于触发权限授权对话框 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <queries>
        <package android:name="com.sohu.inputmethod.sogou" />
        <package android:name="com.baidu.input" />
        <package android:name="com.iflytek.inputmethod" />
        <package android:name="com.google.android.inputmethod.latin" />
        <package android:name="com.google.android.apps.inputmethod.latin" />
        <package android:name="com.monet.inputmethod.hyer" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".InputMethodChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>